<nav class="navbar navbar-dark navbar-expand-lg navbar-primary bg-primary">
  <a class="navbar-brand" href="/" style="margin-left: 10px;">Ambev</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/funcionarios">Gestão de funcionarios</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <app-login *ngIf="!isLoggedIn"></app-login>
  <router-outlet />
</div>
