<table class="table table-striped table-hover">
    <thead class="bg-primary">
      <tr>
        <th *ngFor="let column of columns">{{ column.header }}</th>
        <th>Ações</th> <!-- Coluna fixa para as ações -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns">
          {{ row[column.field] }}
        </td>
        <td>
          <!-- Botões para ações -->
          <button class="btn btn-outline-info btn-sm" (click)="edit(row)">Editar</button>
          <button class="btn btn-outline-danger btn-sm" style="margin-left: 10px;" (click)="delete(row.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>